<div class="widget-clock__time">
    <span class="widget-clock__time__hours">{{ data.hours }}</span>
    <span class="widget-clock__time__separator">:</span>
    <span class="widget-clock__time__minutes">{{ data.minutes }}</span>
    <span class="widget-clock__time__seconds">{{ data.seconds }}</span>
</div>
<div class="widget-clock__date">
    {{ data.date }}
</div>
