$color-white: #fff;
$color-gray: #808080;
$color-black: #000;

$font-default-sans-serif: 'Rubik', tahoma, sans-serif;
$font-size-emphasis: 50rem;
$font-size-small: 15rem;
$font-size-tiny: 12rem;

$color-primary: $color-white;
$color-faded: $color-gray;
$color-bg: $color-black;
