{% extends '/master/default.twig' %}

{% block main %}

    <div class="mirror">
        <div class="region region--top region--left"></div>
        <div class="region region--top region--right"></div>
        <div class="region region--bottom region--left"></div>
        <div class="region region--bottom region--right"></div>
    </div>

{% endblock %}
