.region {
    position: absolute;
    width: 25%;
    &-top {
        top: 0;
    }
    &-bottom {
        bottom: 0;
    }
    &-right {
        right: 0;
    }
    &-left {
        left: 0;
    }
}
