.region {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 20rem;
    &--top {
        top: 0;
    }
    &--bottom {
        bottom: 0;
    }
    &--right {
        right: 0;
        align-items: flex-end;
        text-align: right;
    }
    &--left {
        left: 0;
    }
}
